.contact-information {
  * {
    color: $black;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    place-items: center;
    justify-content: center;
    gap: $spacer;
  }
}
