.eyes {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: -35px;

  @include media-breakpoint-down('md') {
    top: -175px;
  }
}

.eye {
  z-index: 99;

  &:hover {
    cursor: pointer;
  }

  * {
    z-index: 99;
  }
}
