.frontpage {
  &__grid {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;

    @include media-breakpoint-up('lg') {
      grid-template-rows: auto 200px;
      height: 100%;
    }
  }

  &__desktop-logos {
    position: relative;

    @include media-breakpoint-down('md') {
      display: none;
    }

    &--book {
      position: relative;
      height: 600px;
      pointer-events: none;
    }
  }
}

.mobile-frontpage {
  min-height: calc(100vh - 66px);
  display: grid;
  grid-template-rows: 150px 1fr 1fr;
}
