.gallery {
  button {
    outline: 0;
    border: none;
    padding: 0;
    background: transparent;
  }

  &__image-wrap {
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;

    @include media-breakpoint-down('md') {
      width: 100%;
      height: 275px;
      position: static;
    }
  }

  &__image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    &--active {
      opacity: 1;
    }
  }

  &__controls {
    @include media-breakpoint-down('md') {
      position: absolute;
    }
  }
}
