.page {
  * {
    color: $yellow-2;
  }

  &--inverted {
    * {
      color: $black;
    }
  }

  &__bg {
    &-yellow {
      background-color: $yellow;
    }
    &-dark-blue {
      background-color: $dark-blue;
    }
    &-red {
      background-color: $red;
    }
    &-blue {
      background-color: $blue;
    }
    &-orange {
      background-color: $orange;
    }
    &-purple {
      background-color: $purple;
    }
    &-green {
      background-color: $green;
    }
  }
}

.mobile-page {
  padding-top: 66px;
}
