.page {
  min-height: 100vh;

  * {
    color: $yellow-2;
  }

  &--inverted {
    * {
      color: $black;
    }
  }

  &__bg {
    &-yellow {
      background-color: $yellow;
    }

    &-dark-blue {
      background-color: $dark-blue;
    }

    &-red {
      background-color: $red;
    }
  }
}

.mobile-page {
  margin-top: 66px;
  min-height: calc(100vh - 66px);
}
