$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.5,
    ),
    2: (
      $spacer,
    ),
    3: $spacer * 2,
    4: (
      $spacer * 4,
    ),
    5: (
      $spacer * 7,
    ),
    6: (
      $spacer * 9,
    ),
  ),
  $spacers
);
