@import './config/overrides.scss';
@import './config/base.scss';
@import './config/utils.scss';
@import './config/typography.scss';
@import './config/colors.scss';

@import './components/page';
@import './components/contact-information';
@import './components/frontpage';
@import './components/menu';
@import './components/head';
@import './components/rich-text';
@import './components/mobile-menu';

body {
  main {
    min-height: 100vh;
  }

  a:hover {
    text-decoration: none;
  }
}
