@import './config/overrides.scss';
@import './config/base.scss';
@import './config/utils.scss';
@import './config/typography.scss';
@import './config/colors.scss';

@import './components/page';
@import './components/contact-information';
@import './components/frontpage';
@import './components/menu';
@import './components/head';
@import './components/rich-text';
@import './components/mobile-menu';
@import './components/featured-image';
@import './components/kall';
@import './components/feature';
@import './components/all-projects';
@import './components/project';
@import './components/gallery';
@import './components/modal';
@import './components/open-eyes';
@import './components/eyes';

body {
  main {
    min-height: 100vh;
  }

  a:hover {
    text-decoration: none;
  }
}
